<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="Luna runtime" sequenceNumber="208">
<locations>
  <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="false" type="InstallableUnit">
    <unit id="org.eclipse.emf.sdk.feature.group"/>
    <unit id="org.eclipse.jdt.feature.group"/>
    <unit id="org.eclipse.pde.feature.group"/>
    <unit id="org.eclipse.platform.feature.group"/>
    <unit id="org.eclipse.uml2.feature.group"/>
    <unit id="org.eclipse.xtext.sdk.feature.group"/>
    <unit id="org.apache.ant"/>
    <repository location="http://download.eclipse.org/releases/2019-12"/>
  </location>
  <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="false" type="InstallableUnit">
    <unit id="org.eclipse.cdt.feature.group"/>
    <repository location="http://download.eclipse.org/releases/2019-12"/>
  </location>
</locations>
<environment>
  <os>macosx</os>
  <ws>cocoa</ws>
  <arch>x86_64</arch>
  <nl>en_US</nl>
</environment>
<launcherArgs>
  <vmArgs>-Dosgi.requiredJavaVersion=1.8 -XstartOnFirstThread -Dorg.eclipse.swt.internal.carbon.smallFonts -XX:MaxPermSize=256m -Xms40m -Xmx2048m -Xdock:icon=../Resources/Eclipse.icns -XstartOnFirstThread -Dorg.eclipse.swt.internal.carbon.smallFonts</vmArgs>
</launcherArgs>
</target>
